<div class=" text-white bg-buscador mx-4 mb-4 py-2 px-4 mb-md-3 mx-md-0">
  <div class="card-header">
    <h2 class="mb-0">Search Character</h2>
  </div>
  
  <div class="row row-cols row-cols-md-4 mt-3">
    <div class="col d-flex justify-content-center">
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput [formControl]="nameFilter" />
      </mat-form-field>
    </div>
    <div class="col d-flex justify-content-center">
      <mat-form-field>
        <mat-label>Status</mat-label>
        <mat-select [formControl]="statusFormControl" multiple>
          <mat-option value="Alive">Alive</mat-option>
          <mat-option value="Dead">Dead</mat-option>
          <mat-option value="unknown">unknown</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col d-flex justify-content-center">
      <mat-form-field>
        <mat-label>Species</mat-label>
        <input matInput [formControl]="speciesFilter" />
      </mat-form-field>
    </div>
    <div class="col d-flex justify-content-center">
      <mat-form-field>
        <mat-label>Gender</mat-label>
        <input matInput [formControl]="genderFilter" />
      </mat-form-field>
    </div>
  </div>
</div>