<div class="card text-white bg-buscador mb-3 px-4">
  <div class="card-header">
    <h2 class="mb-0">Buscador de personajes</h2>
  </div>

  <div class="row row-cols-6 row-cols-md-4 mt-3">
    <div class="col d-flex justify-content-center">
      <mat-form-field>
        <mat-label>Nombre</mat-label>
        <input matInput [formControl]="nameFilter" />
      </mat-form-field>
    </div>
    <div class="col d-flex justify-content-center">
      <mat-form-field>
        <mat-label>Estado</mat-label>
        <mat-select [formControl]="statusFormControl" multiple>
          <mat-option value="Alive">Alive</mat-option>
          <mat-option value="Dead">Dead</mat-option>
          <mat-option value="unknown">unknown</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col d-flex justify-content-center">
      <mat-form-field>
        <mat-label>Especie</mat-label>
        <input matInput [formControl]="speciesFilter" />
      </mat-form-field>
    </div>
    <div class="col d-flex justify-content-center">
      <mat-form-field>
        <mat-label>Género</mat-label>
        <input matInput [formControl]="genderFilter" />
      </mat-form-field>
    </div>
  </div>
</div>