<div class="d-none d-md-block ">
  <div class="text-white bg-favorite py-2 px-4 mb-md-3 mx-md-0">
    <div class="card-header">
      <h2>Favorite Character</h2>
    </div>
    <div class="favorite-buttons-container">
      <div class="pb-4 mt-3 flex-nowrap overflow-auto">
        <span *ngFor="let favorite of favoriteCharacters">
          <button type="button" class="btn btn-favorite mx-2">
         <fa-icon [icon]="faStar"></fa-icon> {{ favorite.name }} 
          </button>
        </span>
      </div>
    </div>
  </div>
</div>
<div class="d-grid d-md-none mx-4 mb-4 py-2">
  <button class="btn btn-favorite__collapse" type="button" data-toggle="collapse" data-target="#collapseExample"
    aria-expanded="false" aria-controls="collapseExample" (click)="isCollapsed = !isCollapsed">
    <h2 class="mb-0">Favorite </h2>
    <fa-icon [icon]="isCollapsed ? faChevronDown : faChevronUp"></fa-icon>
  </button>
  <div class="collapse" id="collapseExample" (show.bs.collapse)="isCollapsed = false"
    (hide.bs.collapse)="isCollapsed = true">
    <div class="bg-favorite__collapse" *ngFor="let favorite of favoriteCharacters">
      <button type="button" class="btn btn-favorite">
        <fa-icon [icon]="faStar"></fa-icon> {{ favorite.name }} 
      </button>
    </div>
  </div>
</div>