<table mat-table [dataSource]="dataSource" matSort class="table-responsive">
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
    <td mat-cell *matCellDef="let element" class="nombre">{{ element.name }}</td>
  </ng-container>

  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
    <td mat-cell *matCellDef="let element">{{ element.status }}</td>
  </ng-container>

  <ng-container matColumnDef="species">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Species</th>
    <td mat-cell *matCellDef="let element">{{ element.species }}</td>
  </ng-container>

  <ng-container matColumnDef="type">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Type</th>
    <td mat-cell *matCellDef="let element">{{ element.type }}</td>
  </ng-container>

  <ng-container matColumnDef="gender">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Gender</th>
    <td mat-cell *matCellDef="let element">{{ element.gender }}</td>
  </ng-container>

  <ng-container matColumnDef="created">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Created</th>
    <td mat-cell *matCellDef="let element">{{ element.created | date }}</td>
  </ng-container>

  <!-- botones -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef class="text-center pl-md-0">More</th>
    <td mat-cell *matCellDef="let element" class="saberMas">
      <!-- boton saberMas -->
      <button mat-fab (click)="selectCharacter(element)" aria-label="More information" type="button"
        class="btn btn-primary actions-button"
        [ngClass]="{'btn-primary': !element.isSelected, 'btn-tertiary': element.isSelected}">
        <fa-icon [icon]="faSearch"></fa-icon>
      </button>
      <!-- boton favorito -->
      <button mat-fab (click)="toggleFavorite(element)" aria-label="Favorite" type="button"
        class="btn btn-secondary actions-button ml-2"
        [ngClass]="{'btn-warning': element.isFavorite, 'btn-secondary': !element.isFavorite}">
        <fa-icon [icon]="element.isFavorite ? faStar : faRegularStar"></fa-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<!-- spinner de loading -->
<mat-progress-spinner *ngIf="loading" mode="indeterminate"></mat-progress-spinner>

<!-- mensaje error de busqueda -->
<div *ngIf="noResults" class="alert alert-danger mt-4" role="alert">
  <span>
    <b>Ups!</b> No search results with
  </span>
  <div class="d-grid">
    <span *ngIf="activeFilters.includes('name')">Name: {{ nameFilter }}</span>
    <span *ngIf="activeFilters.includes('species')">Species: {{ speciesFilter }}</span>
    <span *ngIf="activeFilters.includes('gender')">Gender: {{ genderFilter }}</span>
    <span *ngIf="activeFilters.includes('status')">Status: {{ statusFilter }}</span>
  </div>
  <p class="mb-0 mt-2"><span class="text-uppercase font-weight-bold">Importante:</span> Las búsquedas deben ser en
    inglés</p>
</div>