<table mat-table [dataSource]="dataSource" matSort>
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
    <td mat-cell *matCellDef="let element">{{ element.name }}</td>
  </ng-container>

  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Estado</th>
    <td mat-cell *matCellDef="let element">{{ element.status }}</td>
  </ng-container>

  <ng-container matColumnDef="species">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Especie</th>
    <td mat-cell *matCellDef="let element">{{ element.species }}</td>
  </ng-container>

  <ng-container matColumnDef="type">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Tipo</th>
    <td mat-cell *matCellDef="let element">{{ element.type }}</td>
  </ng-container>

  <ng-container matColumnDef="gender">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Género</th>
    <td mat-cell *matCellDef="let element">{{ element.gender }}</td>
  </ng-container>

  <ng-container matColumnDef="created">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Creado</th>
    <td mat-cell *matCellDef="let element">{{ element.created | date }}</td>
  </ng-container>
  
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Detalles</th>
    <td mat-cell *matCellDef="let element" class="saberMas">
      <button mat-fab (click)="selectCharacter(element)" aria-label="Saber más" type="button" class="btn btn-primary">
        <fa-icon [icon]="faSearch"></fa-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-progress-spinner *ngIf="loading" mode="indeterminate"></mat-progress-spinner>

<div *ngIf="noResults" class="alert alert-danger mt-4" role="alert">
  <span>
    <b>Ups!</b> No hay resultados de búsqueda con
  </span>
  <div class="d-grid">
    <span *ngIf="activeFilters.includes('name')">Nombre: {{ nameFilter }}</span>
    <span *ngIf="activeFilters.includes('species')">Especie: {{ speciesFilter }}</span>
    <span *ngIf="activeFilters.includes('gender')">Género: {{ genderFilter }}</span>
    <span *ngIf="activeFilters.includes('status')">Estado: {{ statusFilter }}</span>
  </div>
  <p class="mb-0 mt-2"><span class="text-uppercase font-weight-bold">Importante:</span> Las búsquedas deben ser en inglés</p>
</div>