<h1 class="m-4">Todos los personajes</h1>
<div class="px-2 px-md-5">
  <div class="row">
    <div class="col-12 col-md-7">
      <!-- buscador -->
      <app-character-search (searchChanged)="onSearchChanged($event)"></app-character-search>
      <!-- tabla -->
      <app-character-list
          [nameFilter]="nameFilter"
          [speciesFilter]="speciesFilter"
          [genderFilter]="genderFilter"
          [statusFilter]="statusFilter"
        ></app-character-list>
    </div>
    <!-- detalles del personaje -->
    <div class="col-12 col-md-5" *ngIf="characterList?.selectedCharacter">
      <app-character-details [character]="characterList.selectedCharacter"></app-character-details>
    </div>
  </div>
</div>