<header>
  <div class="px-2 px-md-5">
    <img src="https://upload.wikimedia.org/wikipedia/commons/b/b1/Rick_and_Morty.svg" height="120px" width="auto"
      alt="">
    <div class="row">
      <div class="col-12 col-md-7">
        <!-- buscador -->
        <app-character-search (searchChanged)="onSearchChanged($event)"></app-character-search>
      </div>
      <div class="col-12 col-md-5">
        Favorites
        <div *ngFor="let favorite of favoriteCharacters">
          <p>
            {{ favorite.name }}
          </p>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="px-2 px-md-5 scroll">
  <div class="row">
    <div class="col-12 col-md-7">
      <!-- tabla -->
      <app-character-list 
        [nameFilter]="nameFilter" 
        [speciesFilter]="speciesFilter" 
        [genderFilter]="genderFilter"
        [statusFilter]="statusFilter"
        (favoriteToggled)="onFavoriteToggled($event)"
        >
      </app-character-list>
    </div>
    <!-- detalles del personaje -->
    <div class="col-12 col-md-5" *ngIf="characterList?.selectedCharacter">
      <app-character-details [character]="characterList.selectedCharacter"></app-character-details>
    </div>
  </div>
</div>