/* ###### */
/* 1.- Angular Material */
/* 2.- Responsive */
/* 3.- botones */
/* 4.- Modal  */

:root {
    --primary-color: #e89ac7;
    --primary-color_hover: #9f7e91;
    --secondary-color: #f3930b;
    --secondary-color_hover: #92632a;
    --celeste: #87d1db;
    --gris: #303032;
    --negro: #1b1616;
    --amarilloPastel: #ecf0a6;
    --lila: #9baaf2;
    --amarillo: #ffcc00;
    --verde: #51ff00;
    --warning: #94f963;
    --warning-color_hover: #60a85f;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: var(--gris) !important;
    color: white;
}

/* ###### */
/* 1.- Angular Material */

.mdc-data-table__cell,
.mdc-data-table__header-cell {
    padding: 0 0 0 0.7rem !important;
}

.mat-mdc-row,
.mdc-data-table__content {
    font-size: 0.8rem !important;
}

/* ###### */
/* 2.- Responsive */

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.55rem;
    }

    p {
        font-size: 1rem;
    }
}

/* ###### */
/* 3.- botones */

.btn-favorite:hover {
    background-color: var(--warning-color_hover);
    border-color: var(--warning-color_hover);
    color: var(--gris) !important;
}
.btn-favorite {
    background-color: var(--warning);
    border-color: var(--warning);
    color: var(--gris) !important;
    font-weight: bold;
}
.btn-noFavorite:hover {
    background-color: var(--secondary-color_hover);
    border-color: var(--secondary-color_hover);
    color: white;
}
.btn-noFavorite {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
    color: white;
}
.btn-noMore:hover {
    background-color: #53abeee7;
    border-color: #53abeee7;
}
.btn-noMore {
    background-color: #63f8fb;
    border-color: #63f8fb;
}
.btn-more:hover {
    background-color: var(--primary-color_hover);
    border-color: var(--primary-color_hover);
    color: white;
}
.btn-more {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: white;
}
button {
    cursor: pointer !important;
}

/* ###### */
/* 4.- Modal  */
.mdc-dialog__surface .contenedor-img{
    margin-top: 1rem;
}
.mdc-dialog__surface .row{
    margin: 1rem;
}
.mdc-dialog__surface p{
    color: black !important;
}